<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hackathon_infomatrix">

    <!-- Додайте необхідні дозволи -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hackathon_infomatrix"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Головна активність - WelcomeActivity (стартова) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity для входу -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".WelcomeActivity" />

        <!-- Activity для реєстрації -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity" />

        <!-- Activity для відновлення пароля -->
        <activity
            android:name=".PasswordRecoveryActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:parentActivityName=".LoginActivity" />

        <!-- Головна активність після входу -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>